{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required="required">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" required="required">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required="required">

        <input type="submit" value="Register">
    </form>
{% endblock %}